<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.1/css/bootstrap.min.css" integrity="sha512-siwe/oXMhSjGCwLn+scraPOWrJxHlUgMBMZXdPe2Tnk3I0x3ESCoLz7WZ5NTH6SZrywMY+PB1cjyqJ5jAluCOg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="/css/style.css">
    <title><%= title %></title>
</head>
<body>
    <nav class="navbar navbar-expand-sm headers sticky-top">
        <div class="container-fluid brand-container">
          <a class="navbar-brand" href="#">DiaryBlog</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/feed"> <i class="fa-solid fa-rss"></i> Diary Feeds </a>
                  </li>
              <li class="nav-item">
                <a class="nav-link" href="/diary/createDiary"> <i class="fa-regular fa-pen-to-square"></i> Create My Diary </a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/logout"> <i class="fa-solid fa-right-from-bracket"></i> Log Out </i></a>
              </li>
            </ul>
          </div>
        </div>
      </nav>


     