<%- include('./partials/header') %>


<div class="container-fluid homeIndex" >
  <div class="row">
    <div class="col-md-6">
      <img src="images/homeImage1.jpg" alt="Background Image">
    </div>

    <div class="col-md-6">
      <p class="lead">
        This Appication is developed to solve the problem of manually recording the events in our life which is prone to lost, damage and or rust. Hence, This appliation  servers as an MVP (mininmum viable project) for an automated Diary. In Addition, the application has a blog feature where the activity that a user wants to make public is viewed by all user of the applicaton. This is the FIRST VERSION OFN THE APPLICATION as more optimization is possible. Your infomation is secure and private.
      </p>
    </div>
  </div>
</div>






<%- include('./partials/footer') %>